body {
  background-image: url("../img/background1.png");
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  color: #ab4787;
}

.layer {
  width: 640px;
  height: 700px;
  border-radius: 5px;
}

#start-game {
  background-image: url("./../img/cover.png");
  display: block;
  text-align: center;
}

#canvas-layer {
  border-radius: 5px;
  display: none;
}

#canvas {
  border-radius: 5px;
}

#win {
  display: none;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  color: #ab4787;
  background-color: #deebf0;
  text-align: center;
  margin: 20px;
  padding-top: 100px;
  box-sizing: border-box;
}

#game-over {
  display: none;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  color: #ab4787;
  background-color: #deebf0;
  text-align: center;
  margin: 20px;
  padding-top: 200px;
  box-sizing: border-box;
}

#instructions {
  background-image: url("./../img/how-to-play.png");
  display: none;
  text-align: center;
}
/* 
#score-board {
  background-color: #DEEBF0;
  text-align: center;
  display: none;
} */

button {
  font-size: 30px;
  background-color: #ab4787;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 5px 5px 10px rgb(39, 39, 39);
}

#buttons {
  position: absolute;
  margin: 600px 40px 30px 55px;
}

#back {
  margin-top: 600px;
}

button:hover {
  background-color: #fff;
  color: #ab4787;
  font-weight: 800;
}

#timer {
  width: 200px;
  height: 80px;
  font-size: 30px;
  background-color: #ab4787;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  border-radius: 5px;
}

#pause-button {
  text-align: center;
}

#level1 {
  display: none;
  background-image: url("./../img/level1.png");
}

#level2 {
  display: none;
  background-image: url("./../img/level2.png");
}

#level3 {
  display: none;
  background-image: url("./../img/level3.png");
}
